[submodule "bluetooth/rtl8723bs_bt"]
	path = bluetooth/rtl8723bs_bt
	url = https://github.com/lwfinger/rtl8723bs_bt.git
[submodule "wireless/rtl8723bs"]
	path = wireless/rtl8723bs
	url = https://github.com/hadess/rtl8723bs.git
[submodule "wireless/rtl8192su"]
	path = wireless/rtl8192su
	url = https://github.com/chunkeey/rtl8192su
[submodule "wireless/rtl8192eu"]
	path = wireless/rtl8192eu
	url = https://github.com/Mange/rtl8192eu-linux-driver
